.asideContainer {
  box-sizing: border-box;
  border-right: 1px solid rgb(82, 82, 82);
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
}

.sidebarListContainer {
  height: 90vh;
  overflow-y: scroll;
}

ul {
  list-style: none;
  padding-left: 10px;
  word-break: break-all;
}
ul li {
  cursor: pointer;
}
