.full-screen {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
}

.fit-screen {
  position: relative;
  height: 100vh;
}

.explorerContainer {
  height: 98vh;
  position: relative;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
