.full-screen {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: scroll;
}

.fit-screen {
    position: relative;
    height: calc(100% - 3rem);
    overflow: scroll;
}