.explore-files {
  padding: 1rem;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.explore-files div {
  cursor: pointer;
  text-align: center;
  border: 1px solid rgb(206, 203, 203);
  display: inline-block;
  margin-right: 2rem;
  padding: 0.5rem;
  width: 150px;
  margin-top: 1rem;
}

.explorerHeading {
  font-weight: 600;
  font-size: 1.5rem;
}
